<h2><%= user.firstName %>'s Dashboard</h2>

<section class="section-dashboard">
  <section class="section-add-trip">
    <h3>Add a Trip</h3>
    <form action="/trips" method="POST">
      <label for="trip-name">Name</label>
      <input id="trip-name" type="text" name="name">

      <label for="trip-start-date">Start Date</label>
      <input id="trip-start-date" type="date" name="startDate">

      <label for="trip-end-date">End Date</label>
      <input id="trip-end-date" type="date" name="endDate">

      <input type="submit" value="Add">
    </form>
  </section>

  <% if (trips.length) { %>
  <section class="section-trips">
    <h3>Trips</h3>
    <% trips.forEach(trip => { %>
    <a href="/trips/<%= trip.id %>">
      <div class="div-trip">
        <h4><%= trip.name %></h4>
        <p class="date"><%= trip.startDate %></p>
        <p class="date"><%= trip.endDate %></p>
      </div>
    </a>
    <% }); %>
  </section>
  <% } %>
</section>