<% let startDate = new Date(trip.startDate); %>
<% let endDate = new Date(trip.endDate); %>
<% let numDays = Math.floor((endDate - startDate) / (1000 * 60 * 60 * 24)) + 1; %>
<% let weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; %>

<section class="section-trip-info">
  <h2><%= trip.name %></h2>
  <div class="div-trip-info">
    <p><%= trip.startDate %> to <%= trip.endDate %></p>
    <p class="trip-edit">Edit</p>
    <p class="trip-delete">Delete</p>
  </div>
</section>

<section class="section-trip-edit" hidden>
  <form action="/trips/<%= trip.id %>/?_method=put" method="post">
    <label for="trip-name">Name</label>
    <input id="trip-name" type="text" name="name" value="<%= trip.name %>">

    <label for="trip-start-date">Start Date</label>
    <input id="trip-start-date" type="date" name="startDate" value="<%= trip.startDate %>">

    <label for="trip-end-date">End Date</label>
    <input id="trip-end-date" type="date" name="endDate" value="<%= trip.endDate %>">

    <input type="submit" value="Add">
  </form>
</section>

<section class="section-days">
  <% for (let i = 0; i < numDays; i++) { %>
  <% let date = new Date(); %>
  <% date.setDate(startDate.getUTCDate() + i); %>
  <div class="div-day">
    <h4><%= weekdays[date.getDay()] %></h4>
  </div>
  <% } %>
</section>