<!-- Subheader -->
<section class="sec-subheader">
  <div>
    <h1><%= trip.name %></h1>
  </div>
  <div>
    <p class="trip-edit">Edit</p>
    <p class="trip-delete">Delete</p>
  </div>
</section>

<!-- Drop-down edit menu -->
<section class="sec-trip-edit" hidden>
  <form action="/trips/<%= trip.id %>/?_method=put" method="post">
    <div>
      <label for="trip-name">Name</label>
      <input id="trip-name" type="text" name="name" value="<%= trip.name %>">
    </div>
    <div>
      <label for="trip-start-date">Start Date</label>
      <input id="trip-start-date" type="date" name="startDate" value="<%= trip.startDate %>">
    </div>
    <div>
      <label for="trip-end-date">End Date</label>
      <input id="trip-end-date" type="date" name="endDate" value="<%= trip.endDate %>">
    </div>
    <div class="div-update">
      <input class="button" type="submit" value="Update">
    </div>
  </form>
</section>

<!-- Drop-down delete menu -->
<section class="sec-trip-delete" hidden>
  <div class="div-trip-delete">
    <p>Are you sure you want to delete this trip?</p>
    <form action="/trips/<%= trip.id %>/?_method=delete" method="post">
      <input class="button" type="submit" value="Delete">
    </form>
  </div>
</section>

<!-- Drop-down add menu -->
<section class="add-segment" hidden>
  <form action="/trips/<%= trip.id %>" method="post">
    <div>
      <label for="add-segment-subcategory">Category</label>
      <select name="subcategoryId" id="add-segment-subcategory" required>
        <option value="">Choose a category</option>
        <% subcategories.forEach(subcategory => { %>
        <option value="<%= subcategory.id %>"><%= subcategory.name %></option>
        <% }); %>
      </select>
      <label for="add-segment-search">Search</label>
      <input id="add-segment-search" type="text" name="search">
    </div>
    <div>
      <label for="add-segment-name">Name</label>
      <input id="add-segment-name" type="text" name="name" required>
      <label for="add-segment-address">Address</label>
      <input id="add-segment-address" type="text" name="address">
      <label for="add-segment-phone">Phone</label>
      <input id="add-segment-phone" type="tel" name="phone">
      <label for="add-segment-url">Website</label>
      <input id="add-segment-url" type="url" name="url">
    </div>
    <div>
      <label for="add-segment-notes">Notes</label>
      <textarea id="add-segment-notes" name="notes"></textarea>
      <div class="div-radio-buttons">
        <p>Booked?</p>
        <div>
          <label for="add-segment-booked-yes">Yes</label>
          <input id="add-segment-booked-yes" type="radio" name="booked" value="true">
          <label for="add-segment-booked-no">No</label>
          <input id="add-segment-booked-no" type="radio" name="booked" value="false" checked>
        </div>
      </div>
      <div class="div-add-button">
        <input id="add-segment-date" type="hidden" name="date" value="">
        <input class="button" type="submit" value="Submit">
      </div>
    </div>
  </form>
</section>

<!-- Drop-down edit menu -->
<section class="sec-edit-segment" hidden>
  <form class="form-segment-edit" action="/trips/<%= trip.id %>/" method="post">
    <div>
      <label for="segment-subcategory">Category</label>
      <select name="subcategoryId" id="segment-subcategory" required>
        <option value="">Choose a category</option>
        <% subcategories.forEach(subcategory => { %>
        <option value="<%= subcategory.id %>"><%= subcategory.name %></option>
        <% }); %>
      </select>
      <!-- <input type="hidden" name="date" value=""> -->
    </div>
    <div>
      <label for="segment-name">Name</label>
      <input id="segment-name" type="text" name="name" value="" required>
      <label for="segment-address">Address</label>
      <input id="segment-address" type="text" name="address" value="">
      <label for="segment-phone">Phone</label>
      <input id="segment-phone" type="tel" name="phone" value="">
      <label for="segment-url">Website</label>
      <input id="segment-url" type="url" name="url" value="">
    </div>
    <div>
      <label for="segment-notes">Notes</label>
      <textarea id="segment-notes" name="notes"></textarea>
      <div class="div-radio-buttons">
        <p>Booked?</p>
        <div>
          <label for="segment-booked-yes">Yes</label>
          <input id="segment-booked-yes" type="radio" name="booked" value="true" checked>
          <label for="segment-booked-no">No</label>
          <input id="segment-booked-no" type="radio" name="booked" value="false">
        </div>
      </div>
      <div class="div-add-button">
        <input class="button" type="submit" value="Update">
        <button class="segment-edit-cancel button">Cancel</button>
      </div>
    </div>
  </form>
</section>

<!-- Main schedule section -->
<section class="sec-schedule">

  <% let startDate = new Date(trip.startDate); %>
  <% let endDate = new Date(trip.endDate); %>
  <% let numDays = Math.floor((endDate - startDate) / (1000 * 60 * 60 * 24)) + 1; %>
  <% let weekdays = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']; %>

  <!-- Render each day -->
  <% for (let i = 0; i < numDays; i++) { %>

  <% let date = new Date(); %>
  <% date.setDate(startDate.getUTCDate() + i); %>
  <% let dateFormatted = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}`; %>

  <div id="day-<%= dateFormatted %>" class="div-day">

    <!-- Day header -->
    <div class="div-day-header">
      <h3><%= weekdays[date.getDay()] %></h3>
      <div class="div-day-buttons">
        <form class="form-save-reorder" action="/trips/<%= trip.id %>/<%= dateFormatted %>/?_method=put" method="post"
          hidden>
          <input class="edit-day-order" type="hidden" name="order" value="">
          <input class="button-day button save-button" type="submit" value="Save">
        </form>
        <button class="add-segment-button button-day button">Add</button>
      </div>
    </div>

    <!-- Day main area -->
    <div class="div-day-main">

      <% segments.forEach(segment => { %>
      <% if (`${segment.date.getUTCFullYear()}-${segment.date.getUTCMonth() + 1}-${segment.date.getUTCDate()}` === dateFormatted) { %>

      <!-- Segment -->
      <div class="div-segment">
        <div class="div-segment-box">

          <!-- Segment primary info -->
          <div class="segment-info">
            <div class="div-info-primary">
              <div>
                <p class="segment-id" hidden><%= segment.id %></p>
                <h5 class="seg-subcategory"><%= subcategories[segment.subcategoryId - 1].name %></h5>
                <h4 class="seg-name"><%= segment.name %></h4>
              </div>
              <div>
                <img class="icon-drag" src="/img/icon-drag.svg">
              </div>
            </div>

            <!-- Segment secondary info -->
            <div class="div-segment-info-secondary">
              <div class="div-contact-info">
                <% if (segment.address) { %>
                <p><strong>Address:</strong> <span class="seg-address"><%= segment.address %></span></p>
                <% } %>
                <% if (segment.phone) { %>
                <p><strong>Phone:</strong> <span class="seg-phone"><%= segment.phone %></span></p>
                <% } %>
                <% if (segment.url) { %>
                <p><strong>Website:</strong> <a class="seg-url" href="<%= segment.url %>"><span
                      class="seg-address">Link</a></p>
                <% } %>
                <% if (segment.notes) { %>
                <p><strong>Notes:</strong> <span class="seg-notes"><%= segment.notes %></span></p>
                <% } %>
                <% if (segment.booked) { %>
                <p><strong>Booked:</strong> <span class="seg-booked">Yes</span></p>
                <% } else { %>
                <p><strong>Booked:</strong> <span class="seg-booked">No</span></p>
                <% } %>
              </div>
              <div>
                <button class="button-seg-edit button">Edit</button>
                <form class="segment-delete"
                  action="/trips/<%= trip.id %>/<%= dateFormatted %>/<%= segment.id %>/?_method=delete" method="post">
                  <input class="button" type="submit" value="Delete">
                </form>
              </div>
            </div>
          </div>


        </div>
      </div>

      <% } %>
      <% }); %>

    </div>

  </div>

  <% } %>

</section>


<!-- Page scripts -->
<script src="/js/api.js"></script>
<script defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&libraries=places&callback=initAutocomplete"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/Draggable.js"></script>
<script src="/js/drag-drop.js"></script>
<script src="/js/app.js"></script>