<!-- Add/edit segment popup -->
<div class="div-popup" hidden>
  <form class="form-add-edit-segment form" action="/trips/<%= trip.id %>" method="post">

    <div>
      <input id="form-segment-date" type="hidden" name="date" value="">

      <label for="form-segment-subcategory">Category</label>
      <select id="form-segment-subcategory" name="subcategoryId" required>
        <option value="">Choose a category</option>
        <% subcategories.forEach(subcategory => { %>
        <option value="<%= subcategory.id %>"><%= subcategory.name %></option>
        <% }) %>
      </select>

      <label for="form-segment-search">Search</label>
      <input id="form-segment-search" type="text" name="search">
    </div>

    <div>
      <label for="form-segment-name">Name</label>
      <input id="form-segment-name" type="text" name="name" required>

      <label for="form-segment-address">Address</label>
      <input id="form-segment-address" type="text" name="address">

      <label for="form-segment-phone">Phone</label>
      <input id="form-segment-phone" type="tel" name="phone">

      <label for="form-segment-url">Website</label>
      <input id="form-segment-url" type="url" name="url">
    </div>

    <div>
      <label for="form-segment-notes">Notes</label>
      <textarea id="form-segment-notes" name="notes"></textarea>

      <div class="div-radio-buttons">
        <p><strong>Booked?</strong></p>
        <div>
          <label for="form-segment-booked-yes">Yes</label>
          <input id="form-segment-booked-yes" type="radio" name="booked" value="true">
        </div>
        <div>
          <label for="form-segment-booked-no">No</label>
          <input id="form-segment-booked-no" type="radio" name="booked" value="false" checked>
        </div>
      </div>

      <div class="div-form-buttons">
        <input class="button button2 button4" type="submit" value="Submit">
        <button class="button button2 button4 cancel">Cancel</button>
      </div>
    </div>

  </form>
  <div class="div-fade"></div>
</div>

<!-- Subheader -->
<section class="sec-subheader">
  <div>
    <h1><%= trip.name %></h1>
    <ul class="instructions">
      <li>To start planning, pick a day and click Add.</li>
      <li>Once you've created a trip segment, you can edit it, delete it or add more.</li>
      <li>Reorder segments by dragging them up and down. Make sure you save afterwards.</li>
      <li>Use the links to the right to edit your trip's details, or to delete it.</li>
    </ul>
  </div>
  <ul class="subheader-links">
    <li class="link-trip-edit">Edit</li>
    <li class="link-trip-delete">Delete</li>
  </ul>
</section>

<!-- Trip forms -->
<section class="sec-trip-forms">

  <!-- Edit trip -->
  <div class="div-edit-trip" hidden>
    <form class="form-edit-trip" action="/trips/<%= trip.id %>/?_method=put" method="post">

      <div>
        <label for="edit-trip-name">Name</label>
        <input id="edit-trip-name" type="text" name="name" value="<%= trip.name %>">
      </div>

      <div>
        <label for="edit-trip-start-date">Start Date</label>
        <input id="edit-trip-start-date" type="date" name="startDate" value="<%= trip.startDate %>">
      </div>

      <div>
        <label for="edit-trip-end-date">End Date</label>
        <input id="edit-trip-end-date" type="date" name="endDate" value="<%= trip.endDate %>">
      </div>

      <input class="button" type="submit" value="Update">

    </form>
  </div>

  <!-- Delete trip -->
  <div class="div-delete-trip" hidden>
    <div class="form-delete-trip">
      <p>Are you sure you want to delete this trip?</p>
      <form action="/trips/<%= trip.id %>/?_method=delete" method="post">
        <input class="button button3" type="submit" value="Delete">
      </form>
    </div>
  </div>

</section>

<!-- Main -->
<main>

  <!-- Schedule -->
  <section class="sec-schedule">

    <!-- Calculate number of days from start date through end date -->
    <% let startDate = new Date(trip.startDate) %>
    <% let endDate = new Date(trip.endDate) %>
    <% let numDays = Math.floor((endDate - startDate) / (1000 * 60 * 60 * 24)) + 1 %>
    <% let weekdays = ['SUN', 'MON', 'TUE', 'WED', 'THU', 'FRI', 'SAT'] %>

    <!-- Render each day -->
    <% for (let i = 0; i < numDays; i++) { %>
    <% let date = new Date() %>
    <% date.setDate(startDate.getUTCDate() + i) %>
    <% let dateFormatted = `${date.getFullYear()}-${date.getMonth() + 1}-${date.getDate()}` %>

    <div id="day-<%= dateFormatted %>" class="div-day">

      <!-- Day header -->
      <div class="div-day-header">
        <p class="dates"><%= `${weekdays[date.getDay()]} ${date.getMonth() + 1}.${date.getDate()}` %></p>
        <div class="div-day-buttons">
          <form class="form-segment-order" action="/trips/<%= trip.id %>/<%= dateFormatted %>/?_method=put"
            method="post" hidden>
            <input class="segment-order" type="hidden" name="order" value="">
            <input class="button button4 save" type="submit" value="Save">
          </form>
          <button class="link-add-segment button button4">Add</button>
        </div>
      </div>

      <!-- Day main -->
      <div class="div-day-main">

        <!-- Render each segment -->
        <% segments.forEach(segment => { %>
        <% if (`${segment.date.getUTCFullYear()}-${segment.date.getUTCMonth() + 1}-${segment.date.getUTCDate()}` === dateFormatted) { %>

        <div class="div-segment">
          <div class="div-segment-box">

            <!-- Primary info -->
            <div class="div-info-primary">
              <div>
                <p class="segment-id" hidden><%= segment.id %></p>
                <p class="segment-date" hidden><%= dateFormatted %></p>
                <h5 class="segment-subcategory"><%= subcategories[segment.subcategoryId - 1].name %></h5>
                <h4 class="segment-name"><%= segment.name %></h4>
              </div>
              <div>
                <img class="icon-drag" src="/img/icon-drag.svg">
              </div>
            </div>

            <!-- Secondary info -->
            <div class="div-info-secondary">
              <div>
                <% if (segment.address) { %>
                <p><strong>Address:</strong> <span class="segment-address"><%= segment.address %></span></p>
                <% } %>
                <% if (segment.phone) { %>
                <p><strong>Phone:</strong> <span class="segment-phone"><%= segment.phone %></span></p>
                <% } %>
                <% if (segment.url) { %>
                <p><strong>Website:</strong> <a class="segment-url" href="<%= segment.url %>">Link</a></p>
                <% } %>
                <% if (segment.notes) { %>
                <p><strong>Notes:</strong> <span class="segment-notes"><%= segment.notes %></span></p>
                <% } %>
                <% if (segment.booked) { %>
                <p><strong>Booked:</strong> <span class="segment-booked">Yes</span></p>
                <% } else { %>
                <p><strong>Booked:</strong> <span class="segment-booked">No</span></p>
                <% } %>
              </div>
              <div>
                <button class="link-edit-segment button button5">Edit</button>
                <form action="/trips/<%= trip.id %>/<%= dateFormatted %>/<%= segment.id %>/?_method=delete"
                  method="post">
                  <input class="button button5" type="submit" value="Delete">
                </form>
              </div>
            </div>

          </div>
        </div>

        <% } %>
        <% }); %>

      </div>

    </div>

    <% } %>

  </section>

</main>

<!-- Page scripts -->
<script src="/js/api.js"></script>
<script defer
  src="https://maps.googleapis.com/maps/api/js?key=<%= process.env.GOOGLE_MAPS_API_KEY %>&libraries=places&callback=initAutocomplete"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/gsap.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.5.1/Draggable.js"></script>
<script src="/js/drag-drop.js"></script>
<script src="/js/app.js"></script>